*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  margin: 0;
  padding: 0; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.padding-64 {
  padding-top: 64px; }

.padding-b-48 {
  padding-bottom: 48px; }

.relative {
  position: relative; }

.hidden {
  overflow: hidden; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.color-background-strong {
  background-color: #3B442F; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/RalewayRegular-600.woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/RalewayItalic-300.woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/RalewayItalic-400.woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/assets/fonts/PlusJakarta-400.woff2");
  font-weight: 400r;
  font-style: normal; }

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/assets/fonts/PlusJakarta-700.woff2");
  font-weight: 700;
  font-style: normal; }

.headline-bigger {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 32px; } }

.headline-big {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 24px; } }

.headline-big-italic {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 16px; } }

.headline-small-italic {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 14px; } }

.p-regular {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-smaller {
      font-size: 10px; } }

.b-regular {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-regular {
      font-size: 14px; } }

.b-small {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.layout-full-width {
  width: 100%;
  overflow-x: hidden; }

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .layout-container {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .header {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .main-content {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.section-padding-bottom {
  margin-bottom: 72px; }

.slider {
  position: relative;
  display: flex;
  gap: 32px;
  padding: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden; }

.card {
  flex: 0 0 calc((100% - 3 * 32px) / 4); }

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc((100% - 1 * 32px) / 2); } }

.card-img-wrapper {
  position: relative;
  display: block; }

.card-img {
  width: 100%;
  display: block;
  flex-grow: 0;
  margin-bottom: 16px; }

.card-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 16px;
  right: 16px;
  color: #3E4437; }

.button-slider-left {
  position: absolute;
  z-index: 10;
  left: -16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(208, 217, 190, 0.5);
  cursor: pointer;
  border: none;
  border-radius: 100%; }

.button-slider-right {
  position: absolute;
  z-index: 10;
  right: -16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(208, 217, 190, 0.5);
  cursor: pointer;
  border: none;
  border-radius: 100%; }

.button-slider-icon {
  color: #2F3428;
  height: 24px;
  width: 24px; }

.card-big-section {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 860px;
  margin: 0 auto; }

@media (max-width: 1280px) {
  .card-big-section {
    flex-direction: column;
    max-width: 500px; } }

.card-big {
  width: 100%;
  position: relative; }

.card-big-img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.card-big-items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.card-big-mini-card {
  background-color: #C7C2AC;
  align-items: center;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  display: flex;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  transition: 0.3s ease; }
  @media (max-width: 768px) {
    .card-big-mini-card {
      display: none; } }

.card-big-button-circular {
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #3B442F;
  position: absolute;
  cursor: pointer; }

.button-minicard-1 {
  top: 40%;
  left: 56%; }

.button-minicard-2 {
  top: 12%;
  left: 24%; }

.button-minicard-3 {
  top: 64%;
  left: 16%; }

.button-minicard-4 {
  top: 5%;
  left: 40%; }

.button-minicard-5 {
  top: 70%;
  left: 32%; }

.button-minicard-6 {
  top: 38%;
  left: 19%; }

.card-big-mini-card-img {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 4px; }

.minicard-shadow {
  display: flex;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  transform: scale(1.05); }

.minicard-1 {
  top: 48px;
  left: -400px; }
  @media (max-width: 728px) {
    .minicard-1 {
      left: 0px; } }

.minicard-2 {
  top: 48px;
  left: -270px; }
  @media (max-width: 728px) {
    .minicard-2 {
      left: 0px; } }

.minicard-3 {
  top: 48px;
  left: -230px; }
  @media (max-width: 728px) {
    .minicard-3 {
      left: 0px; } }

.minicard-4 {
  top: 48px;
  left: 220px; }
  @media (max-width: 728px) {
    .minicard-4 {
      left: 0px; } }

.minicard-5 {
  top: 48px;
  left: 240px; }
  @media (max-width: 728px) {
    .minicard-5 {
      left: 0px; } }

.minicard-6 {
  top: 48px;
  left: 290px; }
  @media (max-width: 728px) {
    .minicard-6 {
      left: 0px; } }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box; }
  .header__menu {
    display: none; }
  .header__logo-mobile {
    display: none; }
  .header__left, .header__right {
    display: flex;
    align-items: center;
    gap: 16px; }
  .header__center {
    flex: 1;
    display: flex;
    justify-content: center; }
    .header__center .nav__list {
      display: flex;
      gap: 24px;
      list-style: none;
      padding: 0;
      margin: 0; }
      .header__center .nav__list .nav__item a {
        text-decoration: none; }
  .header__logo {
    width: 120px;
    height: auto; }
  .header__icon {
    width: 24px;
    height: 24px;
    cursor: pointer; }
  .header .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FAF7F2;
    padding: 32px 24px;
    box-sizing: border-box;
    z-index: 100; }
    .header .mobile-menu__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px; }
      .header .mobile-menu__list__item a {
        text-decoration: none;
        color: #2F3428;
        font-size: 1.5rem; }

@media (max-width: 1280px) {
  .header {
    padding: 16px 24px; }
    .header__left {
      display: none; }
    .header__right {
      width: 100%; }
    .header__right-user-bag {
      justify-content: end; }
    .header__logo {
      display: none; }
    .header__logo-mobile {
      display: block;
      width: 96px; }
    .header__menu {
      display: block; }
    .header__heart {
      display: none; }
    .header__menu {
      display: block; }
    .header__center {
      display: none; }
    .header__left .header__menu-icon,
    .header__left .header__search-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-right: 16px; }
    .header__right .header__user-icon,
    .header__right .header__bag-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-left: 16px; }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; } }

.topbar {
  display: flex;
  position: relative;
  padding: 8px 32px;
  background-color: #3B442F;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 100; }

.header__logo {
  width: 128px; }

.header__icon {
  color: #FFFFFF; }

.icon-green {
  color: #2F3428; }

.icon-white {
  color: #FFFFFF; }

.header-fixed {
  position: fixed;
  z-index: 100; }

.header-transparent {
  position: fixed;
  top: 56;
  transition: transform 0.3s ease; }

.header-white {
  position: fixed;
  top: 56;
  background-color: #FFFFFF;
  transition: transform 0.3s ease; }

.header-hidden {
  transform: translateY(-150%); }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/RalewayRegular-600.woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/RalewayItalic-300.woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/RalewayItalic-400.woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/assets/fonts/PlusJakarta-400.woff2");
  font-weight: 400r;
  font-style: normal; }

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/assets/fonts/PlusJakarta-700.woff2");
  font-weight: 700;
  font-style: normal; }

.headline-bigger {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 32px; } }

.headline-big {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 24px; } }

.headline-big-italic {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 16px; } }

.headline-small-italic {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 14px; } }

.p-regular {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-smaller {
      font-size: 10px; } }

.b-regular {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-regular {
      font-size: 14px; } }

.b-small {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 32px;
  background-color: #3B442F;
  color: #8D9089; }
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px; }
    .footer__row.footer__links {
      flex-wrap: wrap; }
      .footer__row.footer__links .footer__column {
        flex: 1 1 22%;
        margin-bottom: 16px; }
        .footer__row.footer__links .footer__column .footer__label {
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 48px;
          line-height: 1.1;
          font-size: 14px;
          margin-bottom: 24px;
          display: block;
          color: #FAF7F2;
          text-transform: uppercase; }
        .footer__row.footer__links .footer__column .footer__link {
          display: block;
          margin-bottom: 8px;
          color: #afb1ad;
          text-decoration: none; }
          .footer__row.footer__links .footer__column .footer__link:hover {
            color: #c9cac7; }
        .footer__row.footer__links .footer__column .footer__newsletter {
          display: flex;
          margin-top: 16px; }
          .footer__row.footer__links .footer__column .footer__newsletter .footer__input {
            padding: 8px;
            flex: 1; }
          .footer__row.footer__links .footer__column .footer__newsletter .footer__button {
            background-color: #D2D8BE;
            color: #2F3428;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.6;
            text-transform: uppercase; }
            .footer__row.footer__links .footer__column .footer__newsletter .footer__button:hover {
              background-color: #C7C2AC; }
        .footer__row.footer__links .footer__column .footer__social-icons {
          margin-top: 16px;
          display: flex;
          gap: 8px; }
          .footer__row.footer__links .footer__column .footer__social-icons .footer__icon {
            width: 24px;
            height: 24px; }
    .footer__row.footer__logos {
      justify-content: start;
      align-items: center;
      gap: 16px; }
      .footer__row.footer__logos .footer__logo {
        width: auto;
        height: 14px; }
    .footer__row.footer__bottom {
      justify-content: space-between;
      padding-top: 32px; }
      .footer__row.footer__bottom .footer__copyright {
        font-size: 14px;
        color: #afb1ad; }
      .footer__row.footer__bottom .footer__company-logo {
        width: 100px;
        height: auto; }

@media (max-width: 1280px) {
  .footer {
    display: none; } }

.footer-mobile {
  display: block;
  padding: 64px 24px; }

.footer-mobile-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px; }

.footer-mobile-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: block;
  color: #FAF7F2;
  text-transform: uppercase; }

.footer-mobile-items {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-top: 1px solid #8D9089;
  border-bottom: 1px solid #8D9089;
  width: 100%; }

.footer-mobile-link {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #afb1ad;
  text-decoration: none; }
  .footer-mobile-link:hover {
    color: #c9cac7; }

@media (min-width: 1281px) {
  .footer-mobile {
    display: none; } }

.footer__logos-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px; }
  .footer__logos-mobile .footer__logo {
    width: auto;
    height: 14px; }

.layout-full-width-footer {
  width: 100%; }

.footer-register-mobile {
  padding: 64px 24px;
  text-align: center; }

@media (min-width: 1281px) {
  .footer-register-mobile {
    display: none; } }

.footer-mobile-headline {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #2F3428;
  font-size: 24px; }

.footer-mobile-copy {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  color: #2F3428;
  padding-bottom: 16px; }

.footer-mobile-form {
  display: flex;
  width: 100%;
  justify-content: center; }

.footer-mobile-input {
  background-color: #FFFFFF;
  color: #2F3428;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase;
  width: 100%; }

.footer-mobile-button {
  background-color: #D2D8BE;
  color: #2F3428;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase; }
  .footer-mobile-button:hover {
    background-color: #C7C2AC; }

.footer-mobile-social {
  display: flex;
  justify-content: center;
  padding: 24px;
  display: flex;
  gap: 16px; }

.footer-social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2F3428;
  border-radius: 100px;
  padding: 4px; }

.footer-social-icon {
  height: 40px;
  width: 40px; }

.wrapper-main-banner {
  background-image: url(../assets/ghuna-banner-tiny.png);
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 768px) {
    .wrapper-main-banner {
      background-size: cover; } }

.main-banner {
  height: 90vh;
  text-align: center;
  color: white;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  @media (max-width: 768px) {
    .main-banner {
      height: 60vh; } }
