*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  margin: 0;
  padding: 0; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.padding-64 {
  padding-top: 64px; }

.padding-b-48 {
  padding-bottom: 48px; }

.relative {
  position: relative; }

.hidden {
  overflow: hidden; }

.absolute {
  position: absolute; }

.color-background-strong {
  background-color: #3B442F; }

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/assets/fonts/RalewayRegular-600.woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/assets/fonts/RalewayItalic-300.woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/assets/fonts/RalewayItalic-400.woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: url("/assets/fonts/PlusJakarta-400.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: url("/assets/fonts/PlusJakarta-700.woff2");
  font-weight: 700;
  font-style: normal; }

.headline-bigger {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 48px; } }

.headline-big {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 32px; } }

.headline-big-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 32px; } }

.headline-small {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 16px; } }

.headline-small-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 14px; } }

.p-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.b-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-regular {
      font-size: 14px; } }

.b-small {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.layout-full-width {
  width: 100%;
  padding-bottom: 64px; }

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .layout-container {
      padding-left: 24px;
      padding-right: 24px; } }

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .header {
      padding-left: 24px;
      padding-right: 24px; } }

.main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .main-content {
      padding-left: 24px;
      padding-right: 24px; } }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 24px;
      padding-right: 24px; } }

.slider {
  position: relative;
  display: flex;
  gap: 32px;
  padding: 0 24px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden; }

.card {
  flex: 0 0 calc((100% - 3 * 32px) / 4); }

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc((100% - 1 * 32px) / 2); } }

.card-img-wrapper {
  position: relative;
  display: block; }

.card-img {
  width: 100%;
  display: block;
  flex-grow: 0;
  margin-bottom: 16px; }

.card-icon {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  color: #3E4437; }

.button-slider-left {
  position: absolute;
  z-index: 10;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #D0D9BE;
  cursor: pointer;
  border: none;
  border-radius: 100%; }

.button-slider-right {
  position: absolute;
  z-index: 10;
  right: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #D0D9BE;
  cursor: pointer;
  border: none;
  border-radius: 100%; }

.button-slider-icon {
  color: #2F3428;
  height: 24px;
  width: 24px; }

.card-big-section {
  display: flex;
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 100%; }

@media (max-width: 1280px) {
  .card-big-section {
    flex-direction: column; } }

.card-big {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex: 1 1 0; }

.card-big-img {
  flex: 1;
  object-fit: cover;
  width: 250px;
  height: auto;
  box-sizing: border-box; }

@media (max-width: 1280px) {
  .card-big-img {
    width: 200px; } }

@media (max-width: 768px) {
  .card-big-img {
    width: 100px; } }

.card-big-items, .card-big-items-right {
  width: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  z-index: 10; }

.card-big-items-right {
  align-items: flex-end; }

@media (max-width: 768px) {
  .card-big-items, .card-big-items-right {
    width: 100px; } }

.card-big-mini-card {
  display: flex;
  background-color: #C7C2AC;
  align-items: center;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  width: 256px; }

@media (max-width: 768px) {
  .card-big-mini-card {
    width: 180px; } }

.card-big-mini-card-hidden {
  display: flex; }

@media (max-width: 768px) {
  .card-big-mini-card-hidden {
    display: none; } }

.card-big-mini-card-img {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 4px; }

.background-topbar {
  display: flex;
  padding: 16px 32px;
  background-color: #3B442F;
  text-align: center;
  justify-content: center;
  align-items: center; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box; }
  .header__menu {
    display: none; }
  .header__logo-mobile {
    display: none; }
  .header__left, .header__right {
    display: flex;
    align-items: center;
    gap: 16px; }
  .header__center {
    flex: 1;
    display: flex;
    justify-content: center; }
    .header__center .nav__list {
      display: flex;
      gap: 24px;
      list-style: none;
      padding: 0;
      margin: 0; }
      .header__center .nav__list .nav__item a {
        text-decoration: none;
        color: #FFFFFF; }
  .header__logo {
    width: 120px;
    height: auto; }
  .header__icon {
    width: 24px;
    height: 24px;
    cursor: pointer; }
  .header .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FAF7F2;
    padding: 32px 24px;
    box-sizing: border-box;
    z-index: 100; }
    .header .mobile-menu__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px; }
      .header .mobile-menu__list__item a {
        text-decoration: none;
        color: #2F3428;
        font-size: 1.5rem; }

@media (max-width: 1280px) {
  .header {
    padding: 16px 24px; }
    .header__left {
      display: none; }
    .header__right {
      width: 100%; }
    .header__right-user-bag {
      justify-content: end; }
    .header__logo {
      display: none; }
    .header__logo-mobile {
      display: block;
      width: 128px; }
    .header__menu {
      display: block; }
    .header__heart {
      display: none; }
    .header__menu {
      display: block; }
    .header__center {
      display: none; }
    .header__left .header__menu-icon,
    .header__left .header__search-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-right: 16px; }
    .header__right .header__user-icon,
    .header__right .header__bag-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-left: 16px; }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; } }

.header__logo {
  width: 200px; }

.header__icon {
  color: #FFFFFF; }

.header-fixed {
  z-index: 20;
  position: fixed; }

.background-base {
  background-color: #FAF7F2;
  position: relative; }

.background-strong {
  background-color: #3B442F; }

.button {
  background-color: #D0D9BE;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #3E4437; }

.text-strong {
  color: #2F3428; }

.text-medium {
  color: #3E4437; }

.text-soft {
  color: #8D9089; }

.text-green-600 {
  color: #2F3428; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #afb1ad; }

.divider-text {
  text-align: center; }

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/assets/fonts/RalewayRegular-600.woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/assets/fonts/RalewayItalic-300.woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/assets/fonts/RalewayItalic-400.woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: url("/assets/fonts/PlusJakarta-400.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: url("/assets/fonts/PlusJakarta-700.woff2");
  font-weight: 700;
  font-style: normal; }

.headline-bigger {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 48px; } }

.headline-big {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 32px; } }

.headline-big-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 32px; } }

.headline-small {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 16px; } }

.headline-small-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.1;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 14px; } }

.p-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.b-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-regular {
      font-size: 14px; } }

.b-small {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 32px;
  background-color: #3B442F;
  color: #8D9089; }
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px; }
    .footer__row.footer__links {
      flex-wrap: wrap; }
      .footer__row.footer__links .footer__column {
        flex: 1 1 22%;
        margin-bottom: 16px; }
        .footer__row.footer__links .footer__column .footer__label {
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 24px;
          display: block;
          color: #FAF7F2;
          text-transform: uppercase; }
        .footer__row.footer__links .footer__column .footer__link {
          display: block;
          margin-bottom: 8px;
          color: #afb1ad;
          text-decoration: none; }
          .footer__row.footer__links .footer__column .footer__link:hover {
            color: #c9cac7; }
        .footer__row.footer__links .footer__column .footer__newsletter {
          display: flex;
          margin-top: 16px; }
          .footer__row.footer__links .footer__column .footer__newsletter .footer__input {
            padding: 8px;
            flex: 1; }
          .footer__row.footer__links .footer__column .footer__newsletter .footer__button {
            background-color: #D2D8BE;
            color: #2F3428;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.6;
            text-transform: uppercase; }
            .footer__row.footer__links .footer__column .footer__newsletter .footer__button:hover {
              background-color: #C7C2AC; }
        .footer__row.footer__links .footer__column .footer__social-icons {
          margin-top: 16px;
          display: flex;
          gap: 8px; }
          .footer__row.footer__links .footer__column .footer__social-icons .footer__icon {
            width: 24px;
            height: 24px; }
    .footer__row.footer__logos {
      justify-content: start;
      align-items: center;
      gap: 16px; }
      .footer__row.footer__logos .footer__logo {
        width: auto;
        height: 14px; }
    .footer__row.footer__bottom {
      justify-content: space-between;
      padding-top: 32px; }
      .footer__row.footer__bottom .footer__copyright {
        font-size: 14px;
        color: #afb1ad; }
      .footer__row.footer__bottom .footer__company-logo {
        width: 100px;
        height: auto; }

@media (max-width: 1280px) {
  .footer {
    display: none; } }

.footer-mobile {
  display: block;
  padding: 64px 24px; }

.footer-mobile-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px; }

.footer-mobile-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: block;
  color: #FAF7F2;
  text-transform: uppercase; }

.footer-mobile-items {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-top: 1px solid #8D9089;
  border-bottom: 1px solid #8D9089;
  width: 100%; }

.footer-mobile-link {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #afb1ad;
  text-decoration: none; }
  .footer-mobile-link:hover {
    color: #c9cac7; }

@media (min-width: 1281px) {
  .footer-mobile {
    display: none; } }

.footer__logos-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px; }
  .footer__logos-mobile .footer__logo {
    width: auto;
    height: 14px; }

.layout-full-width-footer {
  width: 100%; }

.wrapper-main-banner {
  background-image: url(../assets/ghuna-banner-tiny.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.main-banner {
  height: 90vh;
  text-align: center;
  color: white;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
