@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

.padding-top-64 {
  padding-top: 64px; }

.padding-b-48 {
  padding-bottom: 48px; }

.relative {
  position: relative; }

.hidden {
  overflow: hidden; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.color-background-footer {
  background-color: #6A7685; }

.none {
  display: none; }

.section-padding-bottom {
  margin-bottom: 96px; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #6A7685;
  text-transform: uppercase; }

p,
a,
span,
label,
select,
button,
details,
li {
  font-family: 'Descriptions', sans-serif;
  line-height: 1.6;
  color: #36404D; }

.headline-bigger {
  font-size: 48px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.75); }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 28px; } }

.headline-big {
  font-size: 32px; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 21px; } }

.headline-regular {
  font-size: 19px; }
  @media (max-width: 768px) {
    .headline-regular {
      font-size: 16px; } }

.headline-big-italic {
  font-weight: 300;
  font-size: 48px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-weight: 600;
  font-size: 16px; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 14px; } }

.headline-small-italic {
  font-weight: 300;
  font-size: 19px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-size: 14px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 12px; } }

.p-regular {
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-weight: 400;
  font-size: 14px; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller, .footer-data-text, .footer-data-link {
  font-weight: 400;
  font-size: 12px; }
  @media (max-width: 768px) {
    .p-smaller, .footer-data-text, .footer-data-link {
      font-size: 10px; } }

.b-regular, .header-navigation-link-strong {
  font-weight: 700;
  font-size: 16px; }
  @media (max-width: 768px) {
    .b-regular, .header-navigation-link-strong {
      font-size: 14px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-smaller, .topbar-text, .footer-data-title {
  font-weight: 700;
  font-size: 12px; }
  @media (max-width: 768px) {
    .b-smaller, .topbar-text, .footer-data-title {
      font-size: 10px; } }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

.max-width {
  max-width: 1440px; }

.layout-full-width {
  width: 100%;
  overflow-x: visible; }

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .layout-container {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .header {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .main-content {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

.max-width {
  max-width: 1440px; }

.layout-full-width {
  width: 100%;
  overflow-x: visible; }

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .layout-container {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .header {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .main-content {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.layout-full-width {
  overflow: visible; }

.header-main-responsive {
  display: block; }
  @media (max-width: 1024px) {
    .header-main-responsive {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 20; } }

@media (max-width: 1024px) {
  .header-spacing-top {
    margin-top: 56px; } }

.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 32px;
  margin: auto; }
  @media (max-width: 1024px) {
    .topbar {
      display: none; } }

.topbar span {
  font-size: 14px; }

.header-main {
  background-color: #fff;
  height: 96px;
  display: flex;
  align-items: center; }

.header-navigation {
  background-color: #BF1E2E;
  position: relative; }
  @media (max-width: 1024px) {
    .header-navigation {
      background-color: #fff;
      height: 56px;
      width: 56px !important;
      display: flex;
      justify-content: center;
      align-items: center; } }

.header-main,
.header-navigation {
  width: 100%;
  position: relative; }
  @media (max-width: 1024px) {
    .header-main,
    .header-navigation {
      height: 56px; } }

.header-main-content,
.header-navigation-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center; }
  @media (max-width: 768px) {
    .header-main-content,
    .header-navigation-content {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.header-main-content {
  justify-content: space-between; }
  @media (max-width: 1024px) {
    .header-main-content {
      padding-right: 0; } }

.header-main-logo-link {
  display: inline-flex; }

.header-logo {
  height: 32px; }
  @media (max-width: 1024px) {
    .header-logo {
      height: 28px; } }

.header-search-icon {
  height: 16px; }

.header-map-icon,
.header-cart-icon {
  height: 16px; }

.header-search-icon-mobile {
  display: none; }
  @media (max-width: 1024px) {
    .header-search-icon-mobile {
      display: block;
      height: 16px; } }

.header-search {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #BF1E2E;
  padding: 0 10px;
  font-size: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 128px;
  background-color: #fff; }
  @media (max-width: 1024px) {
    .header-search {
      display: none; } }

.header-search input {
  border: none;
  height: 100%;
  width: 100%;
  font-size: 14px; }

.header-search input::placeholder,
.header-search input::-webkit-input-placeholder {
  color: #BAC1C9;
  font-size: 14px; }

.header-search input:focus {
  outline: none; }

.header-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none; }

.header-info {
  display: flex;
  gap: 48px; }
  @media (max-width: 1024px) {
    .header-info {
      gap: 16px; } }

.header-main-map-link {
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.header-main-icon {
  display: none; }
  @media (max-width: 1024px) {
    .header-main-icon {
      display: block;
      height: 16px;
      cursor: pointer; } }

.search {
  fill: #AF0923; }

.header-my-account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content; }

.header-my-account span {
  line-height: 110%;
  font-size: 10px;
  color: #6A7685; }

.header-my-account p {
  line-height: 110%;
  font-size: 14px;
  white-space: nowrap; }

@media (max-width: 1024px) {
  .header-my-account {
    display: none; } }

.header-usd {
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap; }

.header-usd span {
  font-size: 14px; }
  @media (max-width: 1024px) {
    .header-usd span {
      display: none; } }

.header-navigation-content {
  justify-content: center;
  height: 56px;
  position: relative; }
  @media (max-width: 1024px) {
    .header-navigation-content {
      position: absolute;
      top: 56px;
      right: 0;
      z-index: 50;
      background-color: #fff;
      width: 360px;
      height: 100vh;
      display: none;
      padding: 0; } }

.show-menu {
  display: flex; }

.header-navigation-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  height: 100%;
  gap: 2px; }
  @media (max-width: 1100px) {
    .header-navigation-list {
      font-size: 12px; } }
  @media (max-width: 1024px) {
    .header-navigation-list {
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: #fff; } }

.submenu {
  position: relative; }

.header-navigation-item-myaccount {
  align-items: center;
  gap: 4px;
  height: 100%;
  padding: 8px;
  display: none;
  background-color: #BF1E2E; }
  @media (max-width: 1024px) {
    .header-navigation-item-myaccount {
      display: flex;
      height: 48px;
      padding: 0 32px; } }

.header-navigation-item-myaccount div {
  color: #fff;
  text-wrap: nowrap; }

.header-navigation-item-myaccount img {
  height: 14px; }
  @media (max-width: 1024px) {
    .header-navigation-item-myaccount img {
      width: 16px; } }

@media (max-width: 1024px) {
  .navigatin-whastapp {
    display: none !important; } }

.header-navigation-item {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 100%;
  padding: 8px; }
  @media (max-width: 1024px) {
    .header-navigation-item {
      height: 48px;
      padding: 0 32px; } }

.header-navigation-item div {
  color: #fff;
  text-wrap: nowrap; }
  @media (max-width: 1024px) {
    .header-navigation-item div {
      color: #49586B; } }

.header-navigation-item img {
  height: 14px; }

.whatsapp {
  height: 20px !important; }

@media (max-width: 1100px) {
  .header-navigation-link-strong {
    font-size: 14px !important; } }

.header-navigation-list-item-wrapper {
  position: relative; }
  @media (max-width: 1100px) {
    .header-navigation-list-item-wrapper {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 4px; } }

.header-submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 48px;
  background-color: #fff;
  z-index: 20; }
  @media (max-width: 1024px) {
    .header-submenu {
      display: none;
      position: relative;
      top: 0px; } }

.header-submenu-show {
  display: flex; }

.header-button {
  padding: 12px 16px;
  font-size: 12px;
  text-transform: none;
  background-color: #fff;
  color: #36404D;
  text-wrap: nowrap; }
  @media (max-width: 1024px) {
    .header-button {
      padding: 8px 48px;
      text-transform: uppercase; } }

.header-submenu a:hover {
  display: flex;
  background-color: #BF1E2E;
  color: #FFFFFF;
  cursor: pointer; }

.header-navigation-list-item-wrapper:hover .header-submenu {
  display: flex; }
  @media (max-width: 1024px) {
    .header-navigation-list-item-wrapper:hover .header-submenu .header-navigation-list-item-wrapper:hover .header-submenu {
      display: none; } }

.topbar-slider {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: relative;
  background-color: #83101C; }
  @media (max-width: 1024px) {
    .topbar-slider {
      display: none; } }

.topbar-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px; }

.topbar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  text-transform: uppercase; }

.topbar-text.active {
  opacity: 1;
  transform: translateX(0); }

.topbar-text.exit {
  opacity: 0;
  transform: translateX(-100%); }

.submenu-icon-black {
  display: none; }
  @media (max-width: 1024px) {
    .submenu-icon-black {
      display: block;
      height: 32px;
      width: 32px; } }

.submenu-icon-white {
  display: block; }
  @media (max-width: 1024px) {
    .submenu-icon-white {
      display: none; } }

/* Estilos para el header fijo */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #BF1E2E;
  /* Fondo rojo */
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden; }

.sticky-header.visible {
  transform: translateY(0);
  opacity: 1;
  visibility: visible; }

/* Ajustes para que el header fijo tenga texto blanco */
.sticky-header .header-main-content {
  padding: 10px 20px; }

.sticky-header .header-my-account span,
.sticky-header .header-my-account p,
.sticky-header .header-usd span {
  color: white; }

/* Ajustamos los íconos para que sean blancos */
.sticky-header .header-map-icon,
.sticky-header .header-cart-icon {
  filter: brightness(0) invert(1); }

/* Aseguramos que el logo tenga una transición suave */
.sticky-header .header-logo {
  transition: opacity 0.2s ease-in-out; }

@media (max-width: 1024px) {
  .layout-full-width {
    overflow: visible !important; } }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #6A7685;
  text-transform: uppercase; }

p,
a,
span,
label,
select,
button,
details,
li {
  font-family: 'Descriptions', sans-serif;
  line-height: 1.6;
  color: #36404D; }

.headline-bigger {
  font-size: 48px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.75); }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 28px; } }

.headline-big {
  font-size: 32px; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 21px; } }

.headline-regular {
  font-size: 19px; }
  @media (max-width: 768px) {
    .headline-regular {
      font-size: 16px; } }

.headline-big-italic {
  font-weight: 300;
  font-size: 48px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-weight: 600;
  font-size: 16px; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 14px; } }

.headline-small-italic {
  font-weight: 300;
  font-size: 19px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-size: 14px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 12px; } }

.p-regular {
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-weight: 400;
  font-size: 14px; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller, .footer-data-text, .footer-data-link {
  font-weight: 400;
  font-size: 12px; }
  @media (max-width: 768px) {
    .p-smaller, .footer-data-text, .footer-data-link {
      font-size: 10px; } }

.b-regular, .header-navigation-link-strong {
  font-weight: 700;
  font-size: 16px; }
  @media (max-width: 768px) {
    .b-regular, .header-navigation-link-strong {
      font-size: 14px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-smaller, .topbar-text, .footer-data-title {
  font-weight: 700;
  font-size: 12px; }
  @media (max-width: 768px) {
    .b-smaller, .topbar-text, .footer-data-title {
      font-size: 10px; } }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

.max-width {
  max-width: 1440px; }

.layout-full-width {
  width: 100%;
  overflow-x: visible; }

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .layout-container {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .header {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .main-content {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 24px;
      padding-right: 24px;
      overflow-x: hidden; } }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #6A7685;
  text-transform: uppercase; }

p,
a,
span,
label,
select,
button,
details,
li {
  font-family: 'Descriptions', sans-serif;
  line-height: 1.6;
  color: #36404D; }

.headline-bigger {
  font-size: 48px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.75); }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 28px; } }

.headline-big {
  font-size: 32px; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 21px; } }

.headline-regular {
  font-size: 19px; }
  @media (max-width: 768px) {
    .headline-regular {
      font-size: 16px; } }

.headline-big-italic {
  font-weight: 300;
  font-size: 48px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-weight: 600;
  font-size: 16px; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 14px; } }

.headline-small-italic {
  font-weight: 300;
  font-size: 19px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-size: 14px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 12px; } }

.p-regular {
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-weight: 400;
  font-size: 14px; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller, .footer-data-text, .footer-data-link {
  font-weight: 400;
  font-size: 12px; }
  @media (max-width: 768px) {
    .p-smaller, .footer-data-text, .footer-data-link {
      font-size: 10px; } }

.b-regular, .header-navigation-link-strong {
  font-weight: 700;
  font-size: 16px; }
  @media (max-width: 768px) {
    .b-regular, .header-navigation-link-strong {
      font-size: 14px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-smaller, .topbar-text, .footer-data-title {
  font-weight: 700;
  font-size: 12px; }
  @media (max-width: 768px) {
    .b-smaller, .topbar-text, .footer-data-title {
      font-size: 10px; } }

.footer-suscription {
  background-color: #6A7685; }

.footer-suscription-content {
  width: 400px;
  text-align: center;
  padding: 40px 24px; }
  @media (max-width: 1024px) {
    .footer-suscription-content {
      width: 100%; } }

.footer-busisness-title {
  color: white;
  margin-bottom: 16px; }

.footer-form-group {
  display: flex; }
  @media (max-width: 1024px) {
    .footer-form-group {
      flex-direction: column;
      gap: 8px; } }

.footer-form-input {
  width: 100%;
  padding: 0 12px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -1px 0 #fff;
  height: 40px;
  margin-right: 4px;
  color: #fff; }

.footer-form-input::placeholder {
  color: #BAC1C9; }

.footer-form-input:focus {
  outline: none; }

.footer-form-button {
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 12px;
  font-weight: 500;
  height: 40px;
  color: #28303A; }

.footer-data {
  background-color: #49586B;
  padding: 40px 0; }

.footer-data-content {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1024px) {
    .footer-data-content {
      flex-direction: column;
      gap: 40px; } }

.footer-logo {
  height: 32px;
  margin-bottom: 16px; }
  @media (max-width: 768px) {
    .footer-logo {
      height: 20px; } }

.footer-date-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px; }
  @media (max-width: 1024px) {
    .footer-date-right {
      grid-template-columns: repeat(2, 1fr);
      width: 100%; } }
  @media (max-width: 768px) {
    .footer-date-right {
      display: flex;
      flex-direction: column; } }

.footer-data-text {
  color: #fff; }

.footer-data-title {
  margin-bottom: 16px;
  color: #fff; }

.footer-date-links {
  display: flex;
  flex-direction: column; }

.footer-data-link {
  color: #fff; }

.footer-date-links-social {
  display: flex; }

.footer-data-img-social {
  height: 20px;
  margin-right: 16px; }

.footer-busisness {
  background-color: #fff; }

.footer-busisness-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px; }
  @media (max-width: 768px) {
    .footer-busisness-content {
      flex-direction: column;
      height: auto;
      gap: 16px;
      padding: 24px; } }

.footer-busisness-logos {
  display: flex;
  flex-direction: row;
  gap: 8px; }

.footer-busisness-logo {
  height: 28px;
  border: 1px solid #E9EAEC; }
  @media (max-width: 768px) {
    .footer-busisness-logo {
      height: 20px; } }

.footer-busisness-logo-adquiria {
  height: 28px; }
  @media (max-width: 768px) {
    .footer-busisness-logo-adquiria {
      height: 18px; } }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #6A7685;
  text-transform: uppercase; }

p,
a,
span,
label,
select,
button,
details,
li {
  font-family: 'Descriptions', sans-serif;
  line-height: 1.6;
  color: #36404D; }

.headline-bigger {
  font-size: 48px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.75); }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 28px; } }

.headline-big {
  font-size: 32px; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 21px; } }

.headline-regular {
  font-size: 19px; }
  @media (max-width: 768px) {
    .headline-regular {
      font-size: 16px; } }

.headline-big-italic {
  font-weight: 300;
  font-size: 48px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-weight: 600;
  font-size: 16px; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 14px; } }

.headline-small-italic {
  font-weight: 300;
  font-size: 19px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-size: 14px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 12px; } }

.p-regular {
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-weight: 400;
  font-size: 14px; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller, .footer-data-text, .footer-data-link {
  font-weight: 400;
  font-size: 12px; }
  @media (max-width: 768px) {
    .p-smaller, .footer-data-text, .footer-data-link {
      font-size: 10px; } }

.b-regular, .header-navigation-link-strong {
  font-weight: 700;
  font-size: 16px; }
  @media (max-width: 768px) {
    .b-regular, .header-navigation-link-strong {
      font-size: 14px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-smaller, .topbar-text, .footer-data-title {
  font-weight: 700;
  font-size: 12px; }
  @media (max-width: 768px) {
    .b-smaller, .topbar-text, .footer-data-title {
      font-size: 10px; } }

.slider {
  position: relative;
  display: flex;
  gap: 16px;
  padding: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden; }

.card {
  background-color: #FFFFFF;
  flex: 0 0 calc((100% - 4 * 16px) / 5);
  text-align: center;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02), 0 5px 8px rgba(0, 0, 0, 0.015); }

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc((100% - 1 * 16px) / 2); } }

.card-text {
  padding: 0 24px 24px; }

.card-img-wrapper {
  position: relative;
  display: block;
  padding: 8px 0 8px; }

.card-img {
  width: 100%;
  display: block;
  flex-grow: 0; }

.card-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 16px;
  right: 16px;
  color: #49586B; }

.card-big-section {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 860px;
  margin: 0 auto; }

@media (max-width: 1280px) {
  .card-big-section {
    flex-direction: column;
    max-width: 500px; } }

.card-big {
  width: 100%;
  position: relative; }

.card-big-img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.card-big-items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.card-big-mini-card {
  background-color: #F6F7F8;
  align-items: center;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  display: flex;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  transition: 0.3s ease; }
  @media (max-width: 768px) {
    .card-big-mini-card {
      display: none; } }

.card-big-button-circular {
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #6A7685;
  position: absolute;
  cursor: pointer; }

.card-big-mini-card-img {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 4px; }

.minicard-shadow {
  display: flex;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  transform: scale(1.05); }

.minicard-1 {
  top: 48px;
  left: -400px; }
  @media (max-width: 728px) {
    .minicard-1 {
      left: 0px; } }

.minicard-2 {
  top: 48px;
  left: -270px; }
  @media (max-width: 728px) {
    .minicard-2 {
      left: 0px; } }

.minicard-3 {
  top: 48px;
  left: -230px; }
  @media (max-width: 728px) {
    .minicard-3 {
      left: 0px; } }

.minicard-4 {
  top: 48px;
  left: 220px; }
  @media (max-width: 728px) {
    .minicard-4 {
      left: 0px; } }

.minicard-5 {
  top: 48px;
  left: 240px; }
  @media (max-width: 728px) {
    .minicard-5 {
      left: 0px; } }

.minicard-6 {
  top: 48px;
  left: 290px; }
  @media (max-width: 728px) {
    .minicard-6 {
      left: 0px; } }

.card-smaller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%; }

.card-smaller-text {
  text-align: center; }

.card-smaller-icon {
  color: black;
  height: 24px;
  width: 24px; }

.card-smaller-section {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  align-items: center;
  padding: 24px 16px;
  gap: 24px; }
  @media (max-width: 728px) {
    .card-smaller-section {
      flex-direction: column; } }

.card-smaller-divider {
  display: block;
  width: 1px;
  background-color: #E9EAEC;
  height: auto;
  align-self: stretch;
  flex-shrink: 0; }
  @media (max-width: 728px) {
    .card-smaller-divider {
      width: 100%;
      height: 1px; } }

.card-categories-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden; }
  @media (max-width: 728px) {
    .card-categories-section {
      grid-template-columns: repeat(2, 1fr); } }

.card-categorie {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  text-align: center;
  width: 100%; }

.card-categorie-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02), 0 5px 8px rgba(0, 0, 0, 0.015); }

.card-categorie-image {
  width: 100%; }

.bento-section {
  position: relative;
  display: flex;
  gap: 24px;
  padding: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 24px; }
  @media (max-width: 1280px) {
    .bento-section {
      flex-direction: column; } }
  @media (max-width: 768px) {
    .bento-section {
      flex-direction: column; } }

.bento-card {
  background-color: #28303A;
  border-radius: 16px;
  padding: 16px;
  color: #FFFFFF;
  height: 348px;
  width: 100%; }

.bento-text {
  position: relative;
  color: #FFFFFF;
  z-index: 10;
  width: 200px; }

.bento-description {
  color: #8D98A5; }

.bento-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 16px;
  border-radius: 40px;
  background-color: #8D98A5;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #F6F7F8;
  text-decoration: none;
  margin-top: 8px; }
  @media (max-width: 768px) {
    .bento-button {
      font-size: 12px; } }

.bento-img {
  position: absolute;
  width: 580px;
  right: -64px;
  bottom: 4px;
  z-index: 1; }
  @media (max-width: 768px) {
    .bento-img {
      width: 400px;
      right: -16px; } }

.bento-text-small {
  position: relative;
  color: #FFFFFF;
  z-index: 10;
  width: 128px; }

.bento-img-ipad {
  position: absolute;
  width: 298px;
  right: 16px;
  bottom: 4px;
  z-index: 1; }
  @media (max-width: 768px) {
    .bento-img-ipad {
      width: 256px;
      right: 32px; } }

.bento-img-watch {
  position: absolute;
  width: 548px;
  right: -56px;
  bottom: -16px;
  z-index: 1; }
  @media (max-width: 768px) {
    .bento-img-watch {
      width: 450px;
      right: -24px; } }

.bento-img-airpods {
  position: absolute;
  width: 672px;
  right: -172px;
  bottom: -16px;
  z-index: 1; }
  @media (max-width: 768px) {
    .bento-img-airpods {
      width: 600px;
      right: -128px; } }

.card-info-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden; }
  @media (max-width: 728px) {
    .card-info-section {
      grid-template-columns: repeat(1, 1fr); } }

.card-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  text-align: center;
  width: 100%; }

.card-info-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0; }

.card-info-image {
  height: 96px;
  width: 96px; }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #6A7685;
  text-transform: uppercase; }

p,
a,
span,
label,
select,
button,
details,
li {
  font-family: 'Descriptions', sans-serif;
  line-height: 1.6;
  color: #36404D; }

.headline-bigger {
  font-size: 48px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.75); }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 28px; } }

.headline-big {
  font-size: 32px; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 21px; } }

.headline-regular {
  font-size: 19px; }
  @media (max-width: 768px) {
    .headline-regular {
      font-size: 16px; } }

.headline-big-italic {
  font-weight: 300;
  font-size: 48px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-weight: 600;
  font-size: 16px; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 14px; } }

.headline-small-italic {
  font-weight: 300;
  font-size: 19px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-size: 14px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 12px; } }

.p-regular {
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-weight: 400;
  font-size: 14px; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller, .footer-data-text, .footer-data-link {
  font-weight: 400;
  font-size: 12px; }
  @media (max-width: 768px) {
    .p-smaller, .footer-data-text, .footer-data-link {
      font-size: 10px; } }

.b-regular, .header-navigation-link-strong {
  font-weight: 700;
  font-size: 16px; }
  @media (max-width: 768px) {
    .b-regular, .header-navigation-link-strong {
      font-size: 14px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-smaller, .topbar-text, .footer-data-title {
  font-weight: 700;
  font-size: 12px; }
  @media (max-width: 768px) {
    .b-smaller, .topbar-text, .footer-data-title {
      font-size: 10px; } }

.button-slider-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: -16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #BAC1C9;
  cursor: pointer;
  border: none;
  border-radius: 100%; }

.button-slider-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: -16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #BAC1C9;
  cursor: pointer;
  border: none;
  border-radius: 100%; }

.button-slider-icon {
  color: #49586B;
  height: 24px;
  width: 24px; }

.button-minicard-1 {
  top: 40%;
  left: 56%; }

.button-minicard-2 {
  top: 12%;
  left: 24%; }

.button-minicard-3 {
  top: 64%;
  left: 16%; }

.button-minicard-4 {
  top: 5%;
  left: 40%; }

.button-minicard-5 {
  top: 70%;
  left: 32%; }

.button-minicard-6 {
  top: 38%;
  left: 19%; }

.background-base {
  background-color: #F6F7F8;
  position: relative; }

.background-strong {
  background-color: #FFFFFF; }

.button {
  background-color: #49586B;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF; }

.text-strong {
  color: #49586B; }

.text-green-600 {
  color: #36404D; }

.text-white {
  color: #FFFFFF; }

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center; }

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F6F7F8; }

.divider-text {
  text-align: center; }

.color-white {
  color: #FFFFFF; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Heading';
  src: url("/assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Regular.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Descriptions';
  src: url("/assets/fonts/WorkSans-Bold.woff2");
  font-weight: 700;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #6A7685;
  text-transform: uppercase; }

p,
a,
span,
label,
select,
button,
details,
li {
  font-family: 'Descriptions', sans-serif;
  line-height: 1.6;
  color: #36404D; }

.headline-bigger {
  font-size: 48px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.75); }
  @media (max-width: 768px) {
    .headline-bigger {
      font-size: 28px; } }

.headline-big {
  font-size: 32px; }
  @media (max-width: 768px) {
    .headline-big {
      font-size: 21px; } }

.headline-regular {
  font-size: 19px; }
  @media (max-width: 768px) {
    .headline-regular {
      font-size: 16px; } }

.headline-big-italic {
  font-weight: 300;
  font-size: 48px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-big-italic {
      font-size: 24px; } }

.headline-small {
  font-weight: 600;
  font-size: 16px; }
  @media (max-width: 768px) {
    .headline-small {
      font-size: 14px; } }

.headline-small-italic {
  font-weight: 300;
  font-size: 19px;
  font-style: italic; }
  @media (max-width: 768px) {
    .headline-small-italic {
      font-size: 16px; } }

.headliner-smaller {
  font-size: 14px;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .headliner-smaller {
      font-size: 12px; } }

.p-regular {
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 768px) {
    .p-regular {
      font-size: 14px; } }

.p-small {
  font-weight: 400;
  font-size: 14px; }
  @media (max-width: 768px) {
    .p-small {
      font-size: 12px; } }

.p-smaller, .footer-data-text, .footer-data-link {
  font-weight: 400;
  font-size: 12px; }
  @media (max-width: 768px) {
    .p-smaller, .footer-data-text, .footer-data-link {
      font-size: 10px; } }

.b-regular, .header-navigation-link-strong {
  font-weight: 700;
  font-size: 16px; }
  @media (max-width: 768px) {
    .b-regular, .header-navigation-link-strong {
      font-size: 14px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-small {
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 768px) {
    .b-small {
      font-size: 12px; } }

.b-smaller, .topbar-text, .footer-data-title {
  font-weight: 700;
  font-size: 12px; }
  @media (max-width: 768px) {
    .b-smaller, .topbar-text, .footer-data-title {
      font-size: 10px; } }

.wrapper-products-banner {
  padding-top: 140px;
  padding-bottom: 112px;
  width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    .wrapper-products-banner {
      padding-top: 112px;
      padding-bottom: 64px; } }

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px; }
  @media (max-width: 768px) {
    .product-container {
      display: flex;
      flex-direction: column; } }

.procut-img-wrapper {
  width: 100%; }
  @media (max-width: 768px) {
    .procut-img-wrapper {
      display: none; } }

.product-images {
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 0 0 0 144px; }
  @media (max-width: 1280px) {
    .product-images {
      padding: 0; } }
  @media (max-width: 768px) {
    .product-images {
      flex-direction: column; } }

.product-thumbnails-list {
  display: flex;
  flex-direction: column;
  gap: 16px; }
  @media (max-width: 768px) {
    .product-thumbnails-list {
      display: inline-flex;
      flex-direction: row;
      scrollbar-width: none;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none;
      transform: translateX(0);
      will-change: transform;
      transition: transform 0.3s ease-out;
      cursor: grabbing;
      overflow-x: scroll; } }

.product-thumbnails-item {
  list-style-type: none;
  cursor: pointer; }
  @media (max-width: 768px) {
    .product-thumbnails-item {
      width: 100vw;
      max-width: 100%;
      flex-shrink: 0;
      scroll-snap-align: center; } }

.product-thumbnail-img {
  width: 64px;
  height: 64px;
  text-decoration: none;
  padding: 12px;
  background-color: #FFFFFF;
  border-radius: 0; }
  @media (max-width: 1280px) {
    .product-thumbnail-img {
      width: 56px;
      height: 56px;
      padding: 8px; } }
  @media (max-width: 768px) {
    .product-thumbnail-img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      transition: transform 0.3s ease-in-out;
      user-select: none; } }

.grabbing {
  cursor: grabbing; }

.grabbing .product-thumbnails-list {
  transform: scale(0.9); }

.selected {
  border: 2px solid #36404D;
  border-radius: 0; }
  @media (max-width: 768px) {
    .selected {
      border: none; } }

.thumbnail-indicators {
  display: none; }
  @media (max-width: 768px) {
    .thumbnail-indicators {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-top: 16px; } }

.indicator {
  width: 12px;
  height: 12px;
  background-color: #BAC1C9;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out; }

.indicator.active {
  background-color: #28303A; }

@media (max-width: 768px) {
  .thumbnail-indicators {
    margin-top: 12px; } }

.product-image-wrapper {
  width: 100%; }

.product-img {
  display: block;
  width: 100%;
  display: block;
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 0; }

.product-info {
  padding: 0; }

.product-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px; }

.product-brand-img {
  width: 24px;
  margin-bottom: 16px; }

.product-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px; }

.product-variant,
.product-stock,
.product-price,
.product-methods,
.product-description-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .product-variant,
    .product-stock,
    .product-price,
    .product-methods,
    .product-description-price {
      margin-bottom: 16px; } }

.price-discount {
  text-decoration-line: line-through;
  text-decoration-color: #8D98A5;
  color: #BAC1C9;
  padding-right: 8px; }

.price-with-card-wrapper {
  display: flex;
  gap: 8px;
  align-items: center; }

.price-with-card-logo {
  height: 16px; }

.product-variant-list {
  display: flex;
  gap: 8px; }

.product-variant-img {
  height: 40px;
  width: 40px;
  border-radius: 0;
  padding: 4px;
  background-color: #FFFFFF; }

.product-variant-img.selected {
  border: 2px solid #36404D; }

.product-stock-list {
  display: flex;
  gap: 8px; }

.product-stock-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 0; }

.product-stock-item.selected {
  border: 2px solid #36404D; }

.size-guide {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px; }

.size-guide-icon {
  height: 20px;
  color: #8D98A5; }

.product-price-list {
  display: flex; }

.product-count-wrapper {
  display: inline-flex;
  height: 40px;
  padding-right: 8px; }

.product-price-count {
  appearance: none;
  border: none;
  padding: 0 16px;
  text-align: center;
  border-radius: none;
  background-color: #E9EAEC;
  cursor: pointer; }

.product-price-count:focus {
  outline: none; }

.product-price-count option {
  background-color: white;
  color: black; }

.procut-price-buy {
  height: 40px;
  appearance: none;
  border: none;
  padding: 0 96px;
  text-align: center;
  border-radius: none;
  background-color: #28303A;
  color: #FFFFFF;
  cursor: pointer; }
  @media (max-width: 768px) {
    .procut-price-buy {
      width: 100%; } }

.product-methods-list {
  outline: none; }

.product-methods-title {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style: none;
  cursor: pointer;
  color: #36404D; }

.product-methods-icon {
  height: 20px; }

@media (max-width: 768px) {
  .product-stock-section {
    z-index: 20;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    padding: 24px 24px 0 24px;
    left: 0;
    right: 0; } }

.wrapper-main-banner {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 64px; }

.banner-slider {
  margin-bottom: 72px; }
  @media (max-width: 768px) {
    .banner-slider {
      margin-bottom: 56px; } }

.banner-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.banner-slides .banner-slide {
  display: none;
  width: 100%; }

.banner-slides .banner-slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.banner-slides .banner-slide {
  width: 100%; }

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover; }

.dots {
  position: absolute;
  bottom: 32px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 24px;
  left: 50%;
  transform: translateX(-50%); }

.dots .dot {
  cursor: pointer;
  margin: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5); }

.dots .dot.active {
  background-color: #fff; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.prev {
  left: 2px; }

.next {
  right: 2px; }

.main-banner {
  position: absolute;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.titles-section {
  text-align: center;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .titles-section {
      margin-bottom: 32px; } }

.banner-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center; }
