@import './components/reset';
@import './components/helpers';
@import './components/fonts';
@import './components/layout';
@import './components/colors';
@import './components/header';
@import './components/footer';
@import './components/cards';
@import './components/buttons';
@import './components/product';
@import './components/queries';


.wrapper-main-banner {
    background-image: url(../assets/banner.webp);
    padding-top: 112px;
    margin-bottom: 72px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: $md) {
        background-size: cover;
      }
}

.main-banner {
    height: 50vh;
    text-align: center;
    color: white;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    @media (max-width: $md) {
        height: 40vh;
      }
}

.titles-section {
    text-align: center;
    margin-bottom: 32px;

    @media (max-width: $md) {
        margin-bottom: 32px;
      }
}
