$dark-900: #28303A;
$dark-800: #36404D;
$dark-700: #49586B;
$dark-600: #6A7685;
$dark-500:#8D98A5;
$dark-400:#BAC1C9;
$dark-300: #E9EAEC;
$dark-200: #EFF0F1;
$dark-100: #F6F7F8;
$dark-050: #FFFFFF;
$white: #fff;
$red-500: #AF0923;
$red-400: #BF1E2E;
$red-700: #83101C;
$red-600: #6E0216;


.background-base {
  background-color: $dark-100;
  position: relative;
}

.background-strong {
  background-color: $dark-050;
}

.button {
  background-color: $dark-700;
  display: flex;
  align-self: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  border: none;
  color: $dark-050;
}

.text-strong {
  color: $dark-700;
}

.text-green-600 {
  color: $dark-800;
}

.text-white {
  color: $dark-050;
}

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.divider-line {
  flex-grow: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $dark-100;
}

.divider-text {
  text-align: center;
}

.color-white {
  color: $dark-050;
}