// Variables de fuente
$font-titles: 'Raleway', sans-serif;
$font-regular: 'Plus Jakarta Sans', sans-serif;

// Variables de peso de fuente
$font-weight-title: 600; // Semibold para Raleway
$font-weight-italic-title-light: 300; // Semibold para Raleway
$font-weight-italic-title-regular: 400; // Semibold para Raleway
$font-weight-regular: 400; // Regular para Plus Jakarta Sans
$font-weight-bold: 700; // Bold para Plus Jakarta Sans

@font-face {
  font-family: $font-titles;
  src: url('/assets/fonts/RalewayRegular-600.woff2');
  font-weight: $font-weight-title;
  font-style: normal;
}
@font-face {
  font-family: $font-titles;
  src: url('/assets/fonts/RalewayItalic-300.woff2');
  font-weight: $font-weight-italic-title-light;
  font-style: italic;
}
@font-face {
  font-family: $font-titles;
  src: url('/assets/fonts/RalewayItalic-400.woff2');
  font-weight: $font-weight-italic-title-regular;
  font-style: italic;
}
@font-face {
  font-family: $font-regular;
  src: url('/assets/fonts/PlusJakarta-400.woff2');
  font-weight: $font-weight-regular;
  font-style: normal;
}
@font-face {
  font-family: $font-regular;
  src: url('/assets/fonts/PlusJakarta-700.woff2');
  font-weight: $font-weight-bold;
  font-style: normal;
}


.headline-bigger {
  font-family: $font-titles;
  font-weight: $font-weight-title;
  font-size: 72px;
  line-height: 1.1;

  @media (max-width: 768px) {
    font-size: 48px;
  }
}

.headline-big {
  font-family: $font-titles;
  font-weight: $font-weight-title;
  font-size: 48px;
  line-height: 1.1;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}
.headline-big-italic {
  font-family: $font-titles;
  font-weight: $font-weight-italic-title-light;
  font-size: 48px;
  line-height: 1.1;
  font-style: italic;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.headline-small {
  font-family: $font-titles;
  font-weight: $font-weight-title;
  font-size: 19px;
  line-height: 1.1;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.headline-small-italic {
  font-family: $font-titles;
  font-weight: $font-weight-italic-title-light;
  font-size: 19px;
  line-height: 1.1;
  font-style: italic;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.headliner-smaller {
  font-family: $font-titles;
  font-weight: $font-weight-title;
  font-size: 16px;
  line-height: 1.1;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.p-regular {
  font-family: $font-regular;
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.p-small {
  font-family: $font-regular;
  font-weight: $font-weight-regular;
  font-size: 14px;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.p-smaller {
  font-family: $font-regular;
  font-weight: $font-weight-regular;
  font-size: 12px;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.b-regular {
  font-family: $font-regular;
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.b-small {
  font-family: $font-regular;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.b-small {
    font-family: $font-regular;
    font-weight: $font-weight-bold;
    font-size: 14px;
    line-height: 1.6;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
}

.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}