@font-face {
  font-family: 'Heading';
  src: url('/assets/fonts/Montserrat-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Heading';
  src: url('/assets/fonts/Montserrat-ExtraLight.woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Descriptions';
  src: url('/assets/fonts/WorkSans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Descriptions';
  src: url('/assets/fonts/WorkSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heading', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: $dark-600;
}

p,
a, 
span,
label,
select,
button, 
details, 
li {
  font-family: 'Descriptions', sans-serif;
  line-height: 1.6;
  color: $dark-800;
}

.headline-bigger {
  font-size: 48px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.75);
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.headline-big {
  font-size: 32px;

  @media (max-width: 768px) {
    font-size: 21px;
  }
}

.headline-regular {
  font-size: 19px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.headline-big-italic {
  font-weight: 300;
  font-size: 48px;
  font-style: italic;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.headline-small {
  font-weight: 600;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.headline-small-italic {
  font-weight: 300;
  font-size: 19px;
  font-style: italic;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.headliner-smaller {
  font-size: 14px;
  line-height: 1.1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.p-regular {
  font-weight: 400;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.p-small {
  font-weight: 400;
  font-size: 14px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.p-smaller {
  font-weight: 400;
  font-size: 12px;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.b-regular {
  font-weight: 700;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.b-small {
  font-weight: 700;
  font-size: 14px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.b-small {
    font-weight: 700;
    font-size: 14px;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
}

.b-smaller {
    font-weight: 700;
    font-size: 12px;
  
    @media (max-width: 768px) {
      font-size: 10px;
    }
}
