@import './colors';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    &__menu {
        display: none;
    }

    &__logo-mobile {
        display: none;
    }
  
    &__left,
    &__right {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  
    &__center {
      flex: 1;
      display: flex;
      justify-content: center;
  
      .nav__list {
        display: flex;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
  
        .nav__item a {
          text-decoration: none;
          // color: $white; 

        }
      }
    }
  
    &__logo {
      width: 120px;
      height: auto;
    }
  
    &__icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  
    .mobile-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $background-base;
      padding: 32px 24px;
      box-sizing: border-box;
      z-index: 100;

     
  
  
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
  
        &__item a {
          text-decoration: none;
          color: $text-strong;
          font-size: 1.5rem;
        }
      }
    }
  }
  
  @media (max-width: 1280px) {
    .header {
      padding: 16px 24px;

      &__left {
        display: none;
      }
      &__right {
        width: 100%;
      }

      &__right-user-bag {
        justify-content: end;
      }

      &__logo {
        display: none;
      }

      &__logo-mobile {
        display: block;
        width: 96px;
    }

      &__menu {
        display: block;
    }
      &__heart {
        display: none;
    }
      &__menu {
        display: block;
    }
  
      &__center {
        display: none; 
      }
  
      &__left {
        .header__menu-icon,
        .header__search-icon {
          width: 24px;
          height: 24px;
          cursor: pointer;
          margin-right: 16px;
        }
      }
  
      &__right {
        .header__user-icon,
        .header__bag-icon {
          width: 24px;
          height: 24px;
          cursor: pointer;
          margin-left: 16px;
        }
      }
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .topbar {
    display: flex;
    position: relative;
    padding: 8px 32px;
    background-color: $background-strong;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  

  .header__logo {
    width: 128px;
  }

  .header__icon {
    color: $white;
  }

  .icon-green {
    color: $green-600;
  }

  .icon-white {
    color: $white;
  }

  .header-fixed {
    position: fixed;
    z-index: 100;
  }

  .header-transparent {
    // z-index: 20;
    position: fixed;
    top: 56;
    transition: transform 0.3s ease;
  }

  .header-white {
    // z-index: 20;
    position: fixed;
    top: 56;
    background-color: $white;
    transition: transform 0.3s ease;
  }

  .header-hidden {
    transform: translateY(-150%);
  }
 