.padding-64 {
    padding-top: 64px;
  }
.padding-b-48 {
    padding-bottom: 48px;
  }
  
.relative {
    position: relative;
  }
  
.hidden {
    overflow: hidden;
  }

.absolute {
    position: absolute;
}