@import './colors';

.padding-top-64 {
    padding-top: 64px;
  }
.padding-b-48 {
    padding-bottom: 48px;
  }
  
.relative {
    position: relative;
  }
  
.hidden {
    overflow: hidden;
  }

.absolute {
    position: absolute;
  }

.relative {
    position: relative;
  }

.color-background-strong {
    background-color: $dark-900;
  }

.none {
  display: none;
}

.section-padding-bottom {
  margin-bottom: 40px;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}
