@import './colors';
@import './queries';

// Variables del layout
$max-width: 1440px;
$padding-desktop: 32px;
$padding-y: 64px;
$padding-mobile: 24px;

// Mixin para el contenedor del layout
@mixin layout-container {
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;

  @media (max-width: $md) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
    overflow-x: hidden;
  }
}

.max-width {
  max-width: $max-width;
}

.layout-full-width {
    width: 100%;
    overflow-x: hidden 
}

.layout-container {
  @include layout-container;
}

.header {
  @include layout-container;
}

.main-content {
  @include layout-container;
}

.footer {
  @include layout-container;
}
