@import './colors';

// Variables del layout
$max-width: 1440px;
$padding-desktop: 32px;
$padding-y: 64px;
$padding-mobile: 24px;

// Mixin para el contenedor del layout
@mixin layout-container {
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;

  @media (max-width: 768px) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}

.layout-full-width {
    width: 100%;
}

.layout-container {
  @include layout-container;
}

.header {
  @include layout-container;
}

.main-content {
  @include layout-container;
}

.footer {
  @include layout-container;
}

.section-padding-bottom {
  margin-bottom: 72px;
}

.slider {
  position: relative;
  display: flex;
  gap: 32px;
  padding: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out; 
  overflow: hidden;
}

.card {
  flex: 0 0 calc((100% - 3 * 32px) / 4); 
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc((100% - 1 * 32px) / 2); 
  }
}

.card-img-wrapper {
  position: relative;
  display: block;
}

.card-img {
  width: 100%;
  display: block;
  flex-grow: 0;
  margin-bottom: 16px;
}

.card-icon {
  position: absolute;
  height: 18px;
  width: 18px; 
  top: 16px;
  right: 16px;
  color: $text-medium;
}

.button-slider-left {
  position: absolute;
  z-index: 10;
  left: -16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px; 
  height: 32px;
  background-color: rgba($button-color, 0.5);
  cursor: pointer; 
  border: none;
  border-radius: 100%;
}

.button-slider-right {
  position: absolute;
  z-index: 10;
  right: -16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px; 
  height: 32px;
  background-color: rgba($button-color, 0.5);
  cursor: pointer; 
  border: none;
  border-radius: 100%;
}

.button-slider-icon {
  color: $text-strong;
  height: 24px;
  width: 24px;
}

.card-big-section {
  display: flex;
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 100%;
}

 @media (max-width: 1280px) {
  .card-big-section {
    flex-direction: column;
  }
}

.card-big {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex: 1 1 0;
}

.card-big-img {
  flex: 1;
  object-fit: cover;
  width: 250px;
  height: auto;
  box-sizing: border-box; 
}

@media (max-width: 1280px) {
  .card-big-img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .card-big-img {
    width: 100px;
  }
}


.card-big-items {
  width: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  z-index: 10;
}

.card-big-items-right {
  @extend .card-big-items;
  align-items: flex-end
}

@media (max-width: 768px) {
  .card-big-items {
    width: 100px;
  }
}

.card-big-mini-card {
  display: flex;
  background-color: $green-200;
  align-items: center;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  width: 256px;
}

@media (max-width: 768px) {
  .card-big-mini-card {
    width: 180px;
  }
}

.card-big-mini-card-hidden {
  display: flex;
}

@media (max-width: 768px) {
  .card-big-mini-card-hidden {
    display: none;
  }
}


.card-big-mini-card-img {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}




