@import "./colors";
@import "./fonts";
@import "./queries";

$size-variant: 40px;
$border-variant: 2px solid $dark-800;
$radius-variant: 0;


.wrapper-products-banner {
    padding-top: 140px;
    padding-bottom: 112px;
    width: 100%;
    height: auto;

    @media (max-width: $md) {
        padding-top: 112px;
        padding-bottom: 64px;
      }
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;

    @media (max-width: $md) {
        display: flex;
        flex-direction: column;
      }
}

.procut-img-wrapper {
    width: 100%;

    @media (max-width: $md) {
        display: none;
    }
}

.product-images {
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 0 0 0 144px;

    @media (max-width: $xl) {
        padding: 0;
    }

    @media (max-width: $md) {
        flex-direction: column;
    }
}

.product-thumbnails-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: $md) {
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // gap: 8px;

        display: inline-flex;
        flex-direction: row;
        scrollbar-width: none;
        transform: translateX(0);
        will-change: transform;
        transition: transform 0.3s ease-out;
        cursor: grabbing;
    }
}

.product-thumbnails-item {
    list-style-type: none;
    cursor: pointer;

    @media (max-width: $md) {
        width: 100vw;
        max-width: 100%;
        flex-shrink: 0;
       
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // padding: 1rem;
    }
}



.product-thumbnail-img {
    width: 64px;
    height: 64px;
    text-decoration: none;
    padding: 12px;
    background-color: $dark-050;
    border-radius: $radius-variant; 

    @media (max-width: $xl) {
        width: 56px;
        height: 56px;
        padding: 8px;
    }
    
    @media (max-width: $md) {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        transition: transform 0.3s ease-in-out;
        user-select: none;

    }   
}

.grabbing {
    cursor: grabbing;
}

.grabbing .product-thumbnails-list {
    transform: scale(0.9);
  }


.product-img-thumbnail.selected {
    border: $border-variant;
    border-radius: $radius-variant;

    @media (max-width: $md) {
        border: none;
    }
    
  }

.product-image-wrapper {
    width: 100%;
}

.product-img {
    display: block;
    width: 100%;
    display: block;
    padding: 32px;
    background-color: $dark-050;
    border-radius: $radius-variant;  
}

.product-info {
    padding: 0;
}

.product-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

}

.product-brand-img {
    width: 24px;
    margin-bottom: 16px;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.product-variant,
.product-stock,
.product-price,
.product-methods,
.product-description-price {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;

    @media (max-width: $md) {
        margin-bottom: 16px;
    }
}

.product-description-price {

}

.price-discount {
    text-decoration-line: line-through;
    text-decoration-color: $dark-500;
    color: $dark-400;
    padding-right: 8px;
}

.price {   

}

.price-with-card-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.price-with-card-logo {
    height: 16px;
}

.price-with-card {

}

.product-variant {
    
    
}

.product-variant-list {
    display: flex;
    gap: 8px;
}

.product-variant-img {
    height: $size-variant;
    width: $size-variant;
    border-radius: $radius-variant;
    padding: 4px;
    background-color: $dark-050;
}
.product-variant-img.selected {
    border: $border-variant; 
}

.product-stock {
   

}

.product-stock-list {
    display: flex;
    gap: 8px;
}

.product-stock-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-variant;
    width: $size-variant;
    background-color: $dark-050;
    border-radius: $radius-variant;
}

.product-stock-item.selected {
    border: $border-variant; 
}

.size-guide {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.size-guide-icon {
    height: 20px;
    color: $dark-500;
}

.product-price {

}

.product-price-list {
    display: flex;
}

.product-count-wrapper {
    display: inline-flex;    
    height: 40px;
    padding-right: 8px;

}

.product-price-count {
    appearance: none;
    border: none;
    padding: 0 16px;
    text-align: center;
    border-radius: none;
    background-color: $dark-300;
    cursor: pointer;
}

.product-price-count:focus {
    outline: none;
}

.product-price-count option {
    background-color: white; 
    color: black; 
}

.procut-price-buy {
    height: 40px;
    appearance: none;
    border: none;
    padding: 0 96px;
    text-align: center;
    border-radius: none;
    background-color: $dark-900;
    color: $dark-050;
    cursor: pointer;

    @media (max-width: $md) {
       width: 100%;
      }
}


.product-methods-list {
    outline: none; 
}
.product-methods-title {
    display: flex;
    gap: 8px;
    align-items: center;
    list-style: none; 
    cursor: pointer;
    color: $dark-800;
}

.product-methods-icon {
    height: 20px;
}

.product-stock-section {
    @media (max-width: $md) {
        z-index: 10;
        position: fixed;
        bottom: 0;
        background-color: $dark-050;
        width: 100%;
        padding: 24px 24px 0 24px;
        left: 0;
        right: 0;
        display: none;
      }
}